.testClass {
	border: 2px solid gold;
}

.page-title {
	text-align: center;
	font-family: helvetica;
	font-size: 50px;
	color: black;
}

.animal-image {
	width: 100%;
	height: 100%;
}

.animal-name {
	font-weight: bold;
	color: blue;
}

.animal-basics {
	float: right;
}