<div class="col-md-6 col-md-offset-3" style="text-align: center; margin-top: 50px;">
	<h1 style="font-size: 70px">Buddy Beacon</h1>
	
	<h2>Helping America find their lost buddies</h2>
	
	<h3>As pet owners, we were inspired to start Buddy Beacon as an additional insurance that we never lose our best friends.
	<br>
	<br>
	 Please click <strong><a href="/#/lost/new" style="color: blue">here</strong></a> if you have lost your buddy.
	<br> 
	<br> 
	 If you may have found somebody's lost pet, please click <strong><a href="/#/found/new" style="color: blue">here</strong></a> to create a profile.
	<br>
	<br>
	Thank you for visiting!
	<br>
	<br>
	-AW, DP, NF, & JS
	</h3>
</div>