<div class="col-xs-6 col-xs-offset-3">
	<h1 class="page-title">Lost Pets</h1>
		<form role="search" ng-submit="search()" style="margin: 30px">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search[searchBy]" placeholder="Search for your pet">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-success" style="background-color:black; border:1px solid black">
        </span>
     </div>
    </form>
 	<div class="well list-entry" ng-repeat="animal in lost | filter: search">
	  <a ng-href="/lost/{{ animal._id }}">
	  	<div class="row">

		  	<div class="col-md-3">
		  		<img ng-src="{{ animal.image }}" class="img-responsive animal-image">
		  	</div>

		  	<div class="col-md-3">
	  			<span class="animal-name">{{ animal.name }}</span>
	  			<br>
  				<strong>Breed:</strong> {{ animal.breed }}
  				<br>
  				<strong>Color:</strong> {{ animal.color }}
		  	</div>

		  	<div class="col-md-6">
					<strong>Missing from:</strong> {{ animal.location_lost }}
					<br>
					<strong>Missing since:</strong> {{ animal.date_lost | date }}
					<br>
					<strong>Owner:</strong> {{ animal.contact_name }}
				</div>

		  </div>
		 </a>
	</div>

</div>